.centered {
    float: none;
    margin: 0 auto;
    display: block;
}

.preview-image {
    float: left;
    padding: 5px;
}

.change-image-button {
    display: inline-block;
    float: left;
    margin: 5px;
}

.image-art {
    width: 100%;
    max-width: 224px;
    max-height: 224px;
}

.nn-shape {
    position: absolute;
    float: none;
    background: #444444;
    left: 50%;
}

.selectable:hover {
    background: #777777;
}

.selected {
    border: solid #78C2AD;
    border-width: 3px;
    animation-name: pulse-selected;
    animation-duration: 0.20s;
}

@keyframes pulse-selected {
    0%, 100% {
        border-width: 3px;
    }

    50% {
        border-width: 4px;
    }
}

.pool {
    border-radius: 50%;
}

.flatten {
    border-radius: 25%;
}

.flat {
    width: 75px;
    height: 9px;
    margin-left: -38px;
}

.connector {
    width: 2px;
    height: 15px;
    margin-left: -1px;
}

#conv1 {
    width: 75px;
    height: 75px;
    margin-left: -38px;
    margin-top: 20px;
}

#connector1 {
    margin-top: 95px;
}

#conv2 {
    width: 75px;
    height: 75px;
    margin-left: -38px;
    margin-top: 110px;
}

#connector2 {
    margin-top: 185px;
}

#pool3 {
    width: 37px;
    height: 37px;
    margin-left: -19px;
    margin-top: 200px;
}

#connector3 {
    margin-top: 237px;
}

#conv4 {
    width: 37px;
    height: 37px;
    margin-left: -19px;
    margin-top: 252px;
}

#connector4 {
    margin-top: 289px;
}

#conv5 {
    width: 37px;
    height: 37px;
    margin-left: -19px;
    margin-top: 304px;
}
#connector5 {
    margin-top: 341px;
}

#pool6 {
    width: 28px;
    height: 28px;
    margin-left: -14px;
    margin-top: 356px;
}
#connector6 {
    margin-top: 384px;
}

#conv7 {
    width: 28px;
    height: 28px;
    margin-left: -14px;
    margin-top: 399px;
}

#connector7 {
    margin-top: 427px;
}

#conv8 {
    width: 28px;
    height: 28px;
    margin-left: -14px;
    margin-top: 442px;
}

#connector8 {
    margin-top: 470px;
}

#conv9 {
    width: 28px;
    height: 28px;
    margin-left: -14px;
    margin-top: 485px;
}

#connector9 {
    margin-top: 513px;
}

#pool10 {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: 528px;
}

#connector10 {
    margin-top: 548px;
}

#conv11 {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: 563px;
}

#connector11 {
    margin-top: 583px;
}

#conv12 {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: 598px;
}

#connector12 {
    margin-top: 618px;
}

#conv13 {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: 633px;
}

#connector13 {
    margin-top: 653px;
}

#pool14 {
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-top: 668px;
}

#connector14 {
    margin-top: 682px;
}

#conv15 {
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-top: 697px;
}

#connector15 {
    margin-top: 711px;
}

#conv16 {
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-top: 726px;
}

#connector16 {
    margin-top: 740px;
}

#conv17 {
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-top: 755px;
}

#connector17 {
    margin-top: 769px;
}

#pool18 {
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: 784px;
}

#connector18 {
    margin-top: 794px;
}

#flatten19 {
    width: 75px;
    height: 20px;
    margin-left: -38px;
    margin-top: 809px;
}

#connector19 {
    margin-top: 829px;
}

#flat20 {
    margin-top: 844px;
}

#connector20 {
    margin-top: 853px;
}

#flat21 {
    margin-top: 868px;
}

#connector21 {
    margin-top: 877px;
}

#flat22 {
    width: 50px;
    height: 9px;
    margin-left: -25px;
    margin-top: 892px;
}

#loading-container {
    min-height: 224px;
    max-height: 224px;
}

#loading-icon {
    padding: 92px;
}

#history {
    overflow: scroll;
    max-height: 800px;
}

.red-func {
    color: red;
    font-weight: bold;
}

.green-func {
    color: green;
    font-weight: bold;
}

.blue-func {
    color: dodgerblue;
    font-weight: bold;
}

.preview {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    height: 150px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.previous-preview {
    position: absolute;
    margin-left: 2px;
    margin-top: 90px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    width: 75px;
    height: 75px;
}

.history-card {
    margin-top: 15px;
}

.use-params:hover {
    color: #78C2AD;
    cursor: pointer;
}

