<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap4 %}
<head>
    {% include "DeepFeaturesApp/includes.html" %}
</head>
<body>
    <div>
        {% include "DeepFeaturesApp/navbar.html" %}
        <div class="container main-content">
            <div class="row">
                <div class="col-3">
                    <h5 id="layer-title">block1_conv2</h5>
                    <h7 id="layer-params">(224, 224, 64) 36928 params</h7>
                    <div id="nn-container">
                        <div class="nn-shape conv"></div>
                        <div id="layer1" class="nn-shape selectable {% if layers_selected.0 %} selected {% endif %}"></div>
                        <div id="connector1" class="nn-shape connector"></div>
                        <div id="layer2" class="nn-shape selectable  {% if layers_selected.1 %} selected {% endif %}"></div>
                        <div id="connector2" class="nn-shape connector"></div>
                        <div id="layer3" class="nn-shape selectable pool {% if layers_selected.2 %} selected {% endif %}"></div>
                        <div id="connector3" class="nn-shape connector"></div>
                        <div id="layer4" class="nn-shape selectable {% if layers_selected.3 %} selected {% endif %}"></div>
                        <div id="connector4" class="nn-shape connector"></div>
                        <div id="layer5" class="nn-shape selectable {% if layers_selected.4 %} selected {% endif %}"></div>
                        <div id="connector5" class="nn-shape connector"></div>
                        <div id="layer6" class="nn-shape selectable pool {% if layers_selected.5 %} selected {% endif %}"></div>
                        <div id="connector6" class="nn-shape connector"></div>
                        <div id="layer7" class="nn-shape selectable {% if layers_selected.6 %} selected {% endif %}"></div>
                        <div id="connector7" class="nn-shape connector"></div>
                        <div id="layer8" class="nn-shape selectable {% if layers_selected.7 %} selected {% endif %}"></div>
                        <div id="connector8" class="nn-shape connector"></div>
                        <div id="layer9" class="nn-shape selectable {% if layers_selected.8 %} selected {% endif %}"></div>
                        <div id="connector9" class="nn-shape connector"></div>
                        <div id="layer10" class="nn-shape selectable pool {% if layers_selected.9 %} selected {% endif %}"></div>
                        <div id="connector10" class="nn-shape connector"></div>
                        <div id="layer11" class="nn-shape selectable {% if layers_selected.10 %} selected {% endif %}"></div>
                        <div id="connector11" class="nn-shape connector"></div>
                        <div id="layer12" class="nn-shape selectable {% if layers_selected.11 %} selected {% endif %}"></div>
                        <div id="connector12" class="nn-shape connector"></div>
                        <div id="layer13" class="nn-shape selectable {% if layers_selected.12 %} selected {% endif %}"></div>
                        <div id="connector13" class="nn-shape connector"></div>
                        <div id="layer14" class="nn-shape selectable pool {% if layers_selected.13 %} selected {% endif %}"></div>
                        <div id="connector14" class="nn-shape connector"></div>
                        <div id="layer15" class="nn-shape selectable {% if layers_selected.14 %} selected {% endif %}"></div>
                        <div id="connector15" class="nn-shape connector"></div>
                        <div id="layer16" class="nn-shape selectable {% if layers_selected.15 %} selected {% endif %}"></div>
                        <div id="connector16" class="nn-shape connector"></div>
                        <div id="layer17" class="nn-shape selectable {% if layers_selected.16 %} selected {% endif %}"></div>
                        <div id="connector17" class="nn-shape connector"></div>
                        <div id="layer18" class="nn-shape selectable pool {% if layers_selected.17 %} selected {% endif %}"></div>
                        <div id="connector18" class="nn-shape connector"></div>
                        <div id="layer19" class="nn-shape selectable flatten {% if layers_selected.18 %} selected {% endif %}"></div>
                        <div id="connector19" class="nn-shape connector"></div>
                        <div id="layer20" class="nn-shape selectable flat {% if layers_selected.19 %} selected {% endif %}"></div>
                        <div id="connector20" class="nn-shape connector"></div>
                        <div id="layer21" class="nn-shape selectable flat {% if layers_selected.20 %} selected {% endif %}"></div>
                        <div id="connector21" class="nn-shape connector"></div>
                        <div id="layer22" class="nn-shape selectable {% if layers_selected.21 %} selected {% endif %}"></div>
                    </div>
                </div>
                <div class="col-6">
                    {% if image_path %}
                        <div id="loading-container">
                            <div class="spinner" id="spinner1"></div>
                            <div class="spinner" id="spinner2"></div>
                        </div>
                        <img id="image-art" class="image-art mb-3 mt-3 rounded centered" rawsrc="/static/DeepFeaturesApp/Images/{{ image_path }}" src="" width="224px" height="224px" hidden="hidden"/>
                    {% else %}
                        <h3 class="text-center">Visualize a Feature Map</h3>
                        <img id="image-art" class="image-art mb-3 mt-3 rounded centered" src="{{ original_image_path }}" width="224px" height="224px"/>
                        <p class="description-text">Visualize a feature map in VGG16 by creating an image with a feature map close to the input image's.
                            Select the layer on the left and edit the parameters below.</p>
                    {% endif %}
                    <form id="image-gen-form" action="/" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">Make Image</button>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Choose Source Image</button>
                            {% endbuttons %}
                    </form>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Choose Custom Image</h4>
                            </div>
                            <div class="modal-body">
                                <img id="custom-image-preview" src="{% static "DeepFeaturesApp/pineapple.jpg" %}" class="image-art preview-image"/>
                                <form action="/customImage" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    <div>
                                        <label class="btn btn-primary change-image-button" >
                                            Browse <input name="custom-image" id="custom-image-input" type="file" hidden>
                                        </label>
                                        <button type="submit" class="btn btn-default change-image-button" disabled="true" id="save-custom-image">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    {% for hist in history %}
                        <div class="card history-card">
                            <div class="card-img-top">
                                <div class="preview" style="background-image: url(&quot;{{ hist.filename }}&quot;)" alt="Previous feature visualization">
                                    <img class="previous-preview" src="{{ hist.original }}">
                                </div>
                            </div>
                            <div class="card-block">
                                <h5 class="card-title d-inline">{{ hist.layer_info.name }}</h5>
                                <!-- <a href="" class="btn btn-primary">Use Params</a> -->
                                <span class="use-params float-right d-inline" id="use-params-button">
                                    <i class="fa fa-mail-forward" aria-hidden="true"></i>
                                    <input type="hidden" id="index" value="{{ forloop.counter0 }}">
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                    {% if history %}
                        <div class="text-center">
                            <a href="/history" class="btn btn-info mt-2">See All {{ history|length }} Images</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <img class="footer-image" src="{% static "DeepFeaturesApp/detail.svg" %}">
        <p>Created by Adam Spindler</p>
    </footer>
</body>
</html>